*{
    margin: 0;
}
header{
    margin: 10px;
}
header h1{
    text-align: center;

}
.flex{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}
.btn{
    margin: 0;
    border-radius: 2px;
    padding: 10px 30px;
    border: 0px solid aqua;
    color: black;
   
}
.btn-box{
    border: 2px solid black;
    display: flex;
}
.btn:hover{
    background-color: aqua;

}