*{
    margin: 0;
}
header{
    margin: 10px;
}
header h1{
    text-align: center;

}
.flex{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}
.btn{
    margin: 0;

    padding: 10px 30px;
    border: 0px ;
    color: black;
   
}
.btn-box{
    /* border: 2px solid black; */
    display: flex;
}
.btn:hover{
    background-color: aqua;

}
section{
    margin: 20px;
    padding: 20px;
    border: 2px outset ;
    border-radius: 5%;
}

.logicbox{
    display: flex;
}
.calculator{

}
@media(max-width: 768px){
    .flex{
        display: flex;
        flex-direction: column;
    }
}